{{ define "header" }}
<header>
    {{ if .IsHome }}
        <h1>{{ site.Title }}</h1>
        {{ with site.Params.Description }}
            <p>{{ . }} </p>
        {{ end }}
    {{ else }}
        <h1>Posts in ‘{{ .Section }}’</h1>
    {{ end }}
</header>
{{ end }}

{{ define "main" }}
<main>
    <ul>
        {{ range site.RegularPages.ByLastmod.Reverse }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ if (not .Date.IsZero) }}
                    {{ if .IsHome }}
                        <small>
                            —
                            <time datetime="{{ dateFormat "Jan 2, 2006" .Date }}">
                                {{ dateFormat "Jan 2, 2006" .Date }}
                            </time>
                        </small>
                    {{ else }}
                        <time datetime="{{ dateFormat "Jan 2, 2006" .Date }}">
                            {{ dateFormat "Jan 2, 2006" .Date }}
                        </time>
                    {{ end }}
                {{ end }}
            </li>
        {{ end }}
    </ul>

    {{ with .Content }}
        {{ . }}
    {{ end }}
</main>
{{ end }}

{{ define "footer" }}
<footer>
    <hr>
    {{ if (not .IsHome) }}
        <a href="../">Go Up</a>
        | <a href="{{ site.BaseURL }}">Home</a>
        |
    {{ end }}
    {{ range .AlternativeOutputFormats }}
        {{ $name_upper := .Name | upper }}
        {{ if (or (eq $name_upper "RSS") (eq $name_upper "ATOM")) }}
            {{ printf `<a href="%s">%s</a>` .Permalink $name_upper | safeHTML }}
        {{ end }}
    {{ end }}
    | {{ (printf `<a href="https://html5.validator.nu/?doc=%s&showsource=yes">HTML5 Validator</a>` .Permalink) | safeHTML }}
</footer>
{{ end }}
