{{ define "header" }}
<header>
    <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
</header>
{{ end }}

{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{ .Title }}</h1>

            {{ if (not .Date.IsZero) }}
                Published on
                <time datetime="{{ dateFormat "Jan 2, 2006" .Date }}">
                    {{ dateFormat "Jan 2, 2006" .Date }}
                </time>
            {{ end }}
        </header>
        <a id="top"></a>
        {{ .Content }}
    </article>
</main>
{{ end }}

{{ define "footer" }}
<footer>
    <hr>
    <a href="../">Go Up</a>
    | <a href="{{ site.BaseURL }}">Home</a>
    | {{ (printf `<a href="https://html5.validator.nu/?doc=%s&showsource=yes">HTML5 Validator</a>` .Permalink) | safeHTML }}
</footer>
{{ end }}
