body > header {
    --block-spacing-vertical: 0;
}
body > header .brand {
    --font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
                   "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
                   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
}
body > header .brand ::before {
    content: "~";
    color: var(--muted-color);
}
body > header .brand ::after {
    content: "/";
    color: var(--muted-color);
}
body > header .subtitle {
    font-size: 0.8em;
    color: var(--muted-color);
    --font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace",
                   "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace,
                   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body > header .subtitle::before {
    content: "/* ";
}
body > header .subtitle::after {
    content: " */";
}

body > main {
    border-width: 0.5rem 0;
    border-style: double;
    border-color: var(--muted-border-color);
}

main h1.title {
    text-align: center;
}

pre {
    border: 1px dashed;
    border-radius: 0.5em;
    padding: 1em;
}

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

main img.profile-photo {
    display: block;
    max-width: 60%;
    margin: 0 auto;
    border-radius: 20%;
}
