a {
    color: #006298;
}

pre {
    background-color: #edebeb;
    border: 1px dashed #900;
    border-radius: 0.5em;
    padding: 1em;
}

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}
