body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Serif', serif;
}

a {
    color: #006298;
}

pre {
    background-color: #edebeb;
    border: 1px dashed #900;
    border-radius: 0.5em;
    font-family: 'Roboto Mono', monosapce;
    padding: 1em;
}

figure {
    display: inline-block;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

/* Exported from modus-operandi theme */
.org-builtin {
    /* font-lock-builtin-face */
    color: #8f0075;
}
.org-comment {
    /* font-lock-comment-face */
    color: #505050;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #505050;
}
.org-constant {
    /* font-lock-constant-face */
    color: #0000c0;
}
.org-doc {
    /* font-lock-doc-face */
    color: #2a486a;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #721045;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #5317ac;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #654d0f;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #8b1030;
}
.org-string {
    /* font-lock-string-face */
    color: #2544bb;
}
.org-type {
    /* font-lock-type-face */
    color: #005a5f;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #00538b;
}
